{% extends 'base.html.twig' %}

{% block title %}Event_Sympa - Ajouter un lieu{% endblock %}

{% block body %}
    <div id="main">
        <div class="inner">
            <header>
                <h1>Ajouter un lieu</h1>
            </header>
            {{ form_start(form) }}
            {{ form_row(form.placeName, { 'label': 'Nom du lieu' }) }}
            <br>
            {{ form_row(form.adress, { 'label': 'Adresse' }) }}
            <br>
            {{ form_row(form.postalCode, { 'label': 'Code Postal' }) }}
            <br>
            {{ form_row(form.city, { 'label': 'Ville' }) }}
            <br>
            <button type="submit">Ajouter</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}